h1 {
  color: #7ad2cd;
}

h2 {
  font-size: 20px;
}

h3 {
  text-align: center;
  color: #7ad2cd;
  font-size: 15px;
  margin: 0;
}

h4 {
  position: relative;
  left: 20px;
  font-size: 30px;
}

input {
  width: 80%;
}

.img-curvegraph {
  max-width: 70%;
  display: block;
  margin: 19px 100px;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 50%);
}

.input-city {
  margin: 20px 40px;
}

.search-engine {
  margin-bottom: 10px;
}
.today {
  position: relative;
  left: 20px;
}
div.next-days {
  margin-top: 20px;
}

h2.next-days {
  color: blueviolet;
  text-align: center;
}

#celsius {
  font-size: 18px;

  text-decoration: none;
}

#fahrenheit {
  font-size: 18px;

  text-decoration: none;
}
h5 {
  font-size: 18px;
  position: relative;
  left: 110px;
  bottom: 40px;
}

#current {
  position: relative;
  left: 550px;
  bottom: 30px;
}
